.venv/
__pycache__/
node_modules/
frontend/build/
instance/
*.pyc
*.pyo
*.pyd
.Python
.env
.env.local
.env.production
.env.*.local
.DS_Store
*.sqlite3
*.log
*.pot
*.mo
*.swp
*.swo
*.bak
*.tmp
*.orig
*.old
*.pdf
*.svg
*.tar.gz
*.zip
*.egg-info/